/* Navigation */
.navbar {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--theme-light-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--theme-light-color) solid;
}

.navbar h1 {
    font-size:2.5em;
}

.navbar .container {
    overflow-y: hidden;
}

/* Content Action/Hero Section */
.cta {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
    height: 400px;
    position: relative;
}

.cta::before,
.cta::after {
    content: '';
    position: absolute;
    width: 130%; /* Width should be more than 100% to cover the whole area when rotated */
    height: 150px; /* Height of the slanted area */
    background-color: var(--theme-color-primary);
    transform: rotate(-3deg); /* Adjust rotation angle to control the slant */
    bottom: -3%; /* Adjust this value to control where the slant starts */
    left: -15%; /* Adjust left position to ensure the element starts off-screen */
    z-index: -1; /* Place it behind the content */
}

/* 
    55% for the content
    45% for the form
    gap of 30px between the two (20px by default in .grid)
*/
.cta .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.cta h1 {
    font-size: 2.2em;
}

.cta p {
    font-size: 1em;
    margin: 20px 0;
}


/* Form */
.cta__form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100; /* To make sure it's on top of the background */
}

.cta__form .form__control {
    margin: 20px 0;
}

.cta__form input[type="text"],
.cta__form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--highlighting-light);
    width: 100%; /* To make sure it takes the full width */
    padding: 3px;
    font-size: 1.15em;
}

.cta__form input:focus {
    outline: none;
}


/* Card component */
.card {
    color: var(--theme-color-dark);
    background-color: var(--theme-light-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* x, y, blur, spread, color */
    padding: 20px;
    margin: 10px;
}


/* Stats */
.stats {
    padding-top: 100px; /* Pushes the content down below the slant*/
}

.stats__heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 1.5em;
}

.stats .grid p {
    font-size: 1em;
    font-weight: bold;
}


/* Repo */
.repo .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.repo .grid > *:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.repo .grid > *:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}
.code__container {
    position: relative;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    overflow-x: auto;
}




/* Resources */
.resources .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


/* Navigation */
.navbar {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--theme-light-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--theme-light-color) solid;
}


/* Content Action/Hero Section */
.cta {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
    height: 400px;
    position: relative;
}

.cta::before,
.cta::after {
    content: '';
    position: absolute;
    width: 130%; /* Width should be more than 100% to cover the whole area when rotated */
    height: 150px; /* Height of the slanted area */
    background-color: var(--theme-color-primary);
    transform: rotate(-3deg); /* Adjust rotation angle to control the slant */
    bottom: -3%; /* Adjust this value to control where the slant starts */
    left: -15%; /* Adjust left position to ensure the element starts off-screen */
    z-index: -1; /* Place it behind the content */
}

/* 
    55% for the content
    45% for the form
    gap of 30px between the two (20px by default in .grid)
*/
.cta .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.cta h1 {
    font-size: 2.2em;
}

.cta p {
    font-size: 1em;
    margin: 20px 0;
}


/* Form */
.cta__form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100; /* To make sure it's on top of the background */
}

.cta__form .form__control {
    margin: 20px 0;
}

.cta__form input[type="text"],
.cta__form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--highlighting-light);
    width: 100%; /* To make sure it takes the full width */
    padding: 3px;
    font-size: 1.15em;
}

.cta__form input:focus {
    outline: none;
}

/* Stats */
.stats {
    padding-top: 100px; /* Pushes the content down below the slant*/
}

.stats__heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 1.5em;
}

.stats .grid p {
    font-size: 1em;
    font-weight: bold;
}


/* Repo */
.repo .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.repo .grid > *:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.repo .grid > *:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

.code__container {
    position: relative;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
}


/* Resources */
.resources .grid {
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(2, 1fr);
}

.resources .grid  *:first-child {
    grid-column: 1/ 3;
    grid-row: 1 / 3;
}


.resources .grid  *:last-child {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}


/* Tools */
.tools .container {
    padding-bottom: 70px;
}
.tools .card {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.tools .card h4 {
    font-size: 1.15em;
    margin-bottom: 10px;
    font-weight: normal;
}

.tools .card:hover {
    transform:translateY(-10px);
}

.tools .card img {
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: contain; /* This will ensure the image is scaled correctly within the fixed dimensions */
}

.tools .flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Footer */
.footer .social a {
    margin: 0 5px;
}