@media screen and (max-width: 988px) {
    
    .features__main .grid {
        /* Your override styles for smaller screens here */
        grid-template-columns: 1fr; /* One column */
        grid-template-rows: auto; /* Automatic row height */
    }

    .features__main .grid > .card {
        /* Adjustments for each card on smaller screens */
        grid-column: 1;
        grid-row: auto;
    }

    .cta .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    /* Adjust the cta to fit all items so the form doesn't cover the text */
    .cta {
        height: auto; /* 100% */
    }

    .cta__header {
        text-align: center;
        margin-top: 2rem;
    }

    .cta__form {
        justify-self: center;
    }

    .resources .grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
        grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
    }
    
    .resources .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .resources .grid > *:nth-child(1) {
        grid-column: 1/1;
        grid-row: 1/2;
    }

    .resources .grid img {
        display: none;
    }
    
}

/*   Tablet Screen Size <= Devices */
@media screen and (max-width: 768px) {

    .footer .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .features__header img,
    .features__sub__header img {
        justify-self: center;
    }
    
    .features__header,
    .features__sub__header {
        text-align: center;
    }


    .grid,
    .cta .grid,
    .repo .grid,
    .resources .grid,
    .tools .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .stats .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .repo .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .repo .grid > *:nth-child(1){
        grid-column: 1/1;
        grid-row: 1/2;
    }
    
    .repo .grid > *:nth-child(2){
        grid-column: 1/1;
        grid-row: 2/3;
    }

    .repo .grid > *:nth-child(3) {
        grid-column: 1/1;
        grid-row: 3/4;
    }

}

/* Mobile Screen Size <= Devices */
@media screen and (max-width: 590px){
    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}