/* Setting Variables */
:root {
    --theme-color: #538936;
    --theme-light-color: #ffffff;
    --theme-color-dark: #333;
    --highlighting-light: #b4b4b4;
}


/* Reset all(*) elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    line-height: 1.6    ;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333333;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}   


/* Generic utility classes */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-row: auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.container {
    max-width: 1600px;
    padding: 0 40px;
    margin: 0 auto; /* Center the container */
    overflow: auto; /* Clear floats */
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    background: var(--theme-color);
    color: var(--theme-light-color);
    border: none;
    border-radius: 5px;

}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--theme-light-color);
}

.btn:hover {
    transform: scale(0.95);
}


/* Navigation */
.navbar {
    background-color: var(--theme-color);
    color: var(--theme-light-color);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--theme-light-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--theme-light-color) solid;
}


/* Content Action/Hero Section */
.cta {
    background-color: var(--theme-color);
    color: var(--theme-light-color);
    height: 400px;
    position: relative;
}

.cta::before,
.cta::after {
    content: '';
    position: absolute;
    width: 130%; /* Width should be more than 100% to cover the whole area when rotated */
    height: 150px; /* Height of the slanted area */
    background-color: var(--theme-color);
    transform: rotate(-3deg); /* Adjust rotation angle to control the slant */
    bottom: -20px; /* Adjust this value to control where the slant starts */
    left: -15%; /* Adjust left position to ensure the element starts off-screen */
    z-index: -1; /* Place it behind the content */
}

/* 
    55% for the content
    45% for the form
    gap of 30px between the two (20px by default in .grid)
*/
.cta .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.cta h1 {
    font-size: 2.2em;
}

.cta p {
    font-size: 1em;
    margin: 20px 0;
}


/* Form */
.cta__form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100; /* To make sure it's on top of the background */
}

.cta__form .form__control {
    margin: 20px 0;
}

.cta__form input[type="text"],
.cta__form input[type="email"] {
    border: 0;
    border-bottom: 1px solid var(--highlighting-light);
    width: 100%; /* To make sure it takes the full width */
    padding: 3px;
    font-size: 1.15em;
}

.cta__form input:focus {
    outline: none;
}


/* Stats */
.stats {
    padding-top: 100px; /* Pushes the content down below the slant*/
}


/* Card component */
.card {
    color: var(--theme-color-dark);
    background-color: var(--theme-light-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* x, y, blur, spread, color */
    padding: 20px;
    margin: 10px;
}


