/* 
    Generic utility classes 
*/

/* Setting Variables */
:root {
    --theme-color-primary: #538936 ;
    --theme-color-secondary: #45722f;
    --theme-color-other: #233a17;
    --theme-light-color: #ffffff;
    --theme-color-dark: #333;
    --theme-section-light: #e5e5e5;
    --highlighting-light: #e5e5e5;
}


/* Reset all(*) elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    line-height: 1.6;
    overflow-x: hidden;
}

pre {
    margin: 0;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333333;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}   

strong {
    font-weight: bold;
}

/* Text */
.text-center {
    text-align: center;
}

.text-secondary {
    color: var(--theme-color-secondary);
  }

.lead {
    /* set fontsize to 20px but in rem or em */
    font-size: 1.25em;
}

.sm {
    font-size: 0.8em;
}

.md {
    font-size: 1.5em;
}

.lg {
    font-size: 2em;
}

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fw-light {
    font-weight: lighter;
}

.fw-regular {
    font-weight: normal;
}


/* Flex */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Grid */
.grid {
    display: grid;
    /* grid-row: auto; */
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

/* Margin Top and Bottom */
.my-1 {
    margin: 1rem 0; /* this means margin-top and margin-bottom */
}

.my-2 {
    margin: 1.5rem 0; /* this means margin-top and margin-bottom */
}

.my-3 {
    margin: 2rem 0; /* this means margin-top and margin-bottom */
}

.my-4 {
    margin: 2.5rem 0; /* this means margin-top and margin-bottom */
}

.my-5 {
    margin: 3rem 0; /* this means margin-top and margin-bottom */
}

/* Margin All */
.m-1 {
    margin: 1rem; /* this means margin-top and margin-bottom */
}

.m-2 {
    margin: 1.5rem; /* this means margin-top and margin-bottom */
}

.m-3 {
    margin: 2rem; /* this means margin-top and margin-bottom */
}

.m-4 {
    margin: 2.5rem; /* this means margin-top and margin-bottom */
}

.m-5 {
    margin: 3rem; /* this means margin-top and margin-bottom */
}

/* Padding Top and Bottom */
.py-1 {
    padding: 1rem 0; /* this means padding-top and padding-bottom */
}

.py-2 {
    padding: 1.5rem 0; /* this means padding-top and padding-bottom */
}

.py-3 {
    padding: 2rem 0; /* this means padding-top and padding-bottom */
}

.py-4 {
    padding: 2.5rem 0; /* this means padding-top and padding-bottom */
}

.py-5 {
    padding: 3rem 0; /* this means padding-top and padding-bottom */
}

/* Padding All */
.p-1 {
    padding: 1rem; /* this means padding-top and padding-bottom */
}

.p-2 {
    padding: 1.5rem; /* this means padding-top and padding-bottom */
}

.p-3 {
    padding: 2rem; /* this means padding-top and padding-bottom */
}

.p-4 {
    padding: 2.5rem; /* this means padding-top and padding-bottom */
}

.p-5 {
    padding: 3rem; /* this means padding-top and padding-bottom */
}


/* Container */
.container {
    max-width: 1600px;
    padding: 0 40px; /**/
    margin: 0 auto; /* Center the container */
    /* overflow: auto; Clear floats */
}


/* Button */
.btn {
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    background: var(--theme-color-primary);
    color: var(--theme-light-color);
    border: none;
    border-radius: 5px;

}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--theme-light-color);
}

.btn:hover {
    transform: scale(0.95);
}

/* Coloured Buttons */
.btn-primary {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
}

.btn-secondary {
    background-color: var(--theme-color-secondary);
    color: var(--theme-light-color);
}


.btn-light {
    background-color: var(--theme-section-light);
    color: var(--theme-color-dark);
}

.btn-dark {
    background-color: var(--theme-color-other);
    color: var(--theme-light-color);
}

/* Backgrounds */
.bg-primary {
    background-color: var(--theme-color-primary);
    color: var(--theme-light-color);
}

.bg-secondary {
    background-color: var(--theme-color-secondary);
    color: var(--theme-light-color);
}

.bg-dark {
    background-color: var(--theme-color-other);
    color: var(--theme-light-color);
}

.bg-light {
    background-color: var(--theme-section-light);
    color: var(--theme-color-dark);
}

.btn-primary a,
.btn-secondary a,
.btn-dark a,
.bg-primary a,
.bg-secondary a,   
.bg-dark a {
    text-decoration: none;
    color: var(--theme-light-color);
}

/* Card */
.card {
    color: var(--theme-color-dark);
    background-color: var(--theme-light-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}


/* Footer */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
}



